name: Build and Test

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            install: sudo apt-get install -qy libglfw3-dev libgl1-mesa-dev
          - os: macos-latest
            install: brew install glfw
    steps:
      - name: Install Dependencies
        run: ${{ matrix.install }}
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose